h1 
	font-size: 2em 
	margin: auto 0.5em
	text-align: center
nav 
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: flex-end
	border-bottom: solid black 1px
	div
		display: flex
		flex-direction: row
	a 
		margin-right: 1em
		padding: 1em
		display: block
		text-decoration: none 
		background-color: #eee 
		border-radius: 4px 4px 0 0 
		&:hover 
			color: #039be5 
			background-color: #cfd8dc 
		&.active 
			color: #039be5 
nav a:visited, a:link 
	color: #334953 
@media(max-width: 758px)
	nav
		position: relative
		margin-bottom: 60px
		div
			position: absolute
			top: 86px
			a
				border-radius: 0 0 4px 4px 