<div id="guidesContainer">
    <app-guide-selector></app-guide-selector>
    <div id="guide">
        <div id="guideHeader">
            <h1>Event Guides</h1>
            <em>Last updated: v1.11 (February 25, 2021)</em>
        </div>
        <hr>
        <div id="guideContent">
            <section id="introduction">
                <h2>Introduction</h2>
                <p>WIP</p>
            </section>
            <hr>
            <section id="giftmas">
                <h2>Giftmas (December/January)</h2>
                <p>Ghosts (1 in 48 from any monster, none offline) - presents from Giftmas Blobulyte (15 per quest), farm monsters for 40 per day, or infinite from ghosts (can come from AFK gains both skilling and fighting). Santa Hat from 1 in 50 that increases to 1 in 300 after the first from presents. Cards can come from presents except ghost card which comes from ghosts. Giftmas foods</p>
            </section>
            <hr>
            <section id="valentines">
                <h2>Valentines (February/March)</h2>
                <div class="segment">
                    <img src="assets/images/Guides/Content/Events/LoveyDoveyLetters.png" draggable="false">
                    <p>For the duration of the event, enemies have a chance to drop Lovey Dovey Letters. 25 are needed each day for the Loveulyte daily quest line.</p>
                </div>
                <div class="segment">
                    <p>The Loveulyte is located in the Blunderhills town, and has a two part daily quest line that can be completed once per account, and resets when the shops reset. 75 Lovey Dovey Letters are needed to complete the entire quest line. Completing both parts gives 30 Choco Boxes, 20 Gems, and 1x 1 Hr Time Candy each day.</p>
                    <img src="assets/images/Guides/Content/Events/Loveulyte.gif" draggable="false">
                </div>
                <div class="segment">
                    <img src="assets/images/Guides/Content/Events/Valentslime.gif" draggable="false">
                    <p>Additionally, Lovey Dovey Letter can be used to spawn Valentslimes, of which 20 need to be defeated each day for the 2nd part of the Loveulyte daily quest line. It is recommended to farm for as many letters, and to spawn as many Valentslimes as possible so you can have the best chance at completing all of the cards and collecting a large amount of event food. Droptable below:</p>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Drop Rate (Base)</th>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Valentslime Card</p>
                        </td>
                        <td>+% Defence from Equipment (0 Star: 3, 1 Star: 6, 2 Star: 9, 3 Star: 12</td>
                        <td>1 in 11.8 (8.5%)</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/Guides/Content/Events/ChocoBox.png">
                            <p>Choco Box</p>
                        </td>
                        <td></td>
                        <td>1 in 5 (20%)</td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Cherry Choco</p>
                        </td>
                        <td>Increases Weapon Power by 1. 10% chance to be consumed every time you defeat a monster.</td>
                        <td>1 in 4 (25%)</td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Minto Choco</p>
                        </td>
                        <td>Increases Move Spd by 8%. 4% chance to be consumed every 10 meters walked.</td>
                        <td>1 in 4 (25%)</td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Milk Choco</p>
                        </td>
                        <td>Restores 420 HP. Auto-Used when your health goes below 80%. Has a 20 second Cooldown.</td>
                        <td>1 in 4 (25%)</td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Lemony Choco</p>
                        </td>
                        <td>Increases Main Exp Gain by 10%. 6% chance to be consumed every time you defeat a monster.</td>
                        <td>1 in 4 (25%)</td>
                    </tr>
                </table>
                <div class="segment">
                    <p>Enemies can also drop Choco Boxes, which can be opened for a chance at several rewards:</p>
                    <img src="assets/images/Guides/Content/Events/ChocoBox.png" draggable="false">
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Drop Rate</th>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Giant Bow Hat</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Cherry Choco</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Minto Choco</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Milk Choco</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img>
                            <p>Lemony Choco</p>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
    <div id="guideIndex">
        <h3>Sections</h3>
        <hr>
        <ul>
            <li>
                <a
                [routerLink]="['.']"
                fragment="introduction"
                (click)="scroll.scrollTo('#introduction', '#guide')">Introduction</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="giftmas"
                (click)="scroll.scrollTo('#giftmas', '#guide')">Giftmas</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="valentines"
                (click)="scroll.scrollTo('#valentines', '#guide')">Valentines</a>
            </li>
        </ul>
    </div>  
</div> 