<div id="guidesContainer">
    <app-guide-selector></app-guide-selector>
    <div id="guide">
        <div id="guideHeader">
            <h1>Idleon Armory Tutorial</h1>
            <em>Last updated: v1.11 (February 25, 2021)</em>
        </div>
        <hr>
        <div id="guideContent">
            <section id="introduction">
                <h2>Introduction</h2>
                <p>This guide is for the Idleon Armory site, and the various available tools.</p>
            </section>
            <hr>
            <section id="guides">
                <h2>Guides</h2>
                <p>The guides section contains the current meta and advice for various aspects and stages of gameplay.</p>
            </section>
            <hr>
            <section id="dashboard">
                <h2>Dashboard</h2>
                <p>This page lets you manage your characters, as well as [WIP].</p>
            </section>
            <hr>
            <section id="character">
                <h2>Character</h2>
                <p>Shows character information and stats [WIP] for the currently equipped character.</p>
            </section>
            <hr>
            <section id="equipment">
                <h2>Equipment</h2>
                <p>You can equip your character with items here to see how different builds affect your stats [WIP], plus share builds with others [WIP].</p>
            </section>
            <hr>
            <section id="talents">
                <h2>Talents</h2>
                <p>The talents tool lets you freely spec talent builds to see what improves your stats the most without wasting reset potions, then share [WIP] the build with others.</p>
            </section>
            <hr>
            <section id="activeChar">
                <h2>Active Character Dropdown</h2>
                <p>Change your active character here by clicking on the character badge and selecting another character from the dropdown menu.</p>
            </section>
        </div>
    </div>
    <div id="guideIndex">
        <h3>Sections</h3>
        <hr>
        <ul>
            <li>
                <a
                [routerLink]="['.']"
                fragment="introduction"
                (click)="scroll.scrollTo('#introduction', '#guide')">Introduction</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="guides"
                (click)="scroll.scrollTo('#guides', '#guide')">Guides</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="dashboard"
                (click)="scroll.scrollTo('#dashboard', '#guide')">Dashboard</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="character"
                (click)="scroll.scrollTo('#character', '#guide')">Character</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="equipment"
                (click)="scroll.scrollTo('#equipment', '#guide')">Equipment</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="talents"
                (click)="scroll.scrollTo('#talents', '#guide')">Talents</a>
            </li>
            <li>
                <a
                [routerLink]="['.']"
                fragment="activeChar"
                (click)="scroll.scrollTo('#activeChar', '#guide')">Active Character Dropdown</a>
            </li>
        </ul>
    </div>  
</div> 