<div class="character-selector noselect">
    <strong>Active Character</strong>
    <div class="character-container">
        <div
        class="character"
        (click)="toggleDropdown()">
            <div class="badge">
                <span>{{selectedChar.id}}</span>
            </div>
            <div class="imgAndName">
                <span>{{selectedChar.name}}</span>
                <img src='{{ "assets/images/TalentTabs/TabIcons/" + selectedChar.class + ".png"}}' />
            </div>
            <div class="badge end-badge">
                <span>Lv {{selectedChar.level}}</span>
            </div>
        </div>
    </div>
    <ul
    class="character-container no-list-style dropdown"
    [class.dropdown-hide]="dropdown === false">
        <ng-container *ngFor="let char of characters"> 
            <li
            class="character"
            *ngIf="char.id !== selectedChar.id"
            (click)="onSelect(char)"
            [class.selected]="char === selectedChar">
                <div class="badge">
                    <span>{{char.id}}</span>
                </div>
                <div class="imgAndName">
                    <span>{{char.name}}</span>
                    <img src='{{ "assets/images/TalentTabs/TabIcons/" + char.class + ".png"}}' />
                </div>
                <div class="badge end-badge">
                    <span>Lv {{char.level}}</span>
                </div>
            </li>
        </ng-container>
    </ul>
</div>