@import '../variables.sass'

.character-selector
	display: block
	font-size: 14px	
	text-align: center
	background-color: $hover-grey
	height: 4.5em
	width: 18.5em
	padding: 0.75em 0.25em
	border-radius: 4px 4px 0 0
	display: flex
	flex-direction: column
	align-items: center
.character-container
	margin: 0 0 0.5em 0 
	padding: 0 
	width: 19em
.no-list-style
	list-style-type: none
.dropdown
	position: relative
	background-color: $hover-grey
	top: -0.5em
	border-radius: 0 0 4px 4px
.dropdown-hide
	display: none
.character 
	cursor: pointer 
	position: relative 
	left: 0 
	background-color: $main-white
	color: $main-grey
	margin: .5em
	padding: .3em 0 
	height: 1.6em 
	border-radius: 4px 
	font-weight: bold
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	&:hover 
		color: $main-white
		background-color: $main-grey
.badge 
	position: relative
	top: -0.3em
	color: $main-white 
	background-color: $main-yellow 
	border-radius: 4px 0 0 4px 
	height: 2.2em
	width: 1.5em
	margin: auto
	display: flex
	align-items: center
	justify-content: center
	span
		font-size: 14px 
.end-badge 
	width: 3.75em
	float: right
	border-radius: 0 4px 4px 0 
.imgAndName
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	flex-grow: 1
	margin: 0.5em
	span
		text-overflow: clip
		max-width: 9em
		overflow: hidden
	img
		width: 30px
		margin: 0 0 0 0.2em
@media(max-width: 449px)
	.character-selector
		height: 4em
		width: 44vw
		padding: 0.5em
	.character-container
		width: 42vw
	.dropdown
		padding: 0.2em
	.imgAndName
		span
			max-width: 7em
		img
			margin: 0 0 0 0.1em
	.character
		margin: 0.5em 0em