<div id="sidebar">
    <div id="guideList">
        <div
        *ngFor="let guide of guides"
        (click)="activate(guide.id)"
        id="{{'guide-'+guide.id}}"
        class="guidePreview noselect"
        [active]="guide.active"
        routerLink="{{'/guides/'+guide.url}}"
        [routerLinkActive]="['active']">
            <img src='{{ "assets/images/Guides/Previews/" + guide.previewImage}}' draggable="false"/>
            <div class="previewText">
                <strong>{{guide.name}}</strong>
                <p>{{guide.description}}</p>
            </div>
        </div>
    </div>
</div>