<p>Site under development.</p>
<p><a href="/g/">The Guides section</a> contains informative content.</p>
<p><a href="/b/">The Builds section</a> lets you both simulate a complete character build so you can easily try different items, as well as sharing builds in an easy to understand format for others to see. You can also view Featured Builds from prominent community members.</p>
<p>Suggest an Idleon API to Lava in the official Discord so we can add the ability to automatically import your characters into the system!</p>